.back {
padding: 5px;
 
 display: block;
 font-size: 15px;
 text-decoration: none;
 margin-bottom: 5px;
 cursor: pointer;
}
.back:hover {
    background-color: azure;
}
.goBack {
text-decoration: none;
margin-bottom: 5px;
}